# Local results & input data
results/
input/
data/

# integration
main_PlotsIntegration.m

# input config
inputCalConfig.xlsx
inputPRConfig.xlsx
inputExpConfig.xlsx
inputEOSConfig.xlsx
inputDiffConfig.xlsx
inputValConfig.xlsx

# desktop init
desktop.ini

# Local temporary changes
*.asv

# Local init configuration
functions/initCoolProp.m
functions/initREFPROP.m
